*{
    margin: 0;
    padding: 0;
}
html,body{
    font-size: 63.5%;
}
h1{
    margin-top: 2rem;
    font-size: 6rem;
}
body{

    background-color: #DBB68F;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.Box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem #0000004d;
    font-size: 8vmin;
    color: #75e0d2;
    background-color: #648666;
    cursor: pointer;
}
.Box:hover{
     color: #64c5b8;
     background-color: #7f9e81;
 }
 .resetBtn{
    margin-top: 4rem;
    padding: 1.2rem 2.2rem;
    font-size: 2.2rem;
    border-radius: 2rem;
    border: none;
    background-color: #c92828;
    color: #fff;
}
.resetBtn:hover{
    background-color: #da3d3d;
    color: #dddcdc;
    cursor: pointer;
}
.restartBtn{
    margin-top: 4rem;
    padding: 1.2rem 2.2rem;
    font-size: 2.2rem;
    border-radius: 2rem;
    border: none;
    background-color: #20801d;
    color: #fff;
}
.restartBtn:hover{
    background-color: #289e24;
    color: #dddcdc;
    cursor: pointer;
}
.msg{
    margin-top: 2rem;
    font-size: 4rem;
}
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hidden{
    display: none;  
}